body {
    width: 300px;
    height: 350px;
    font-family: Helvetica;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #EFF6F8;
    font-weight: 1750;
    color: black;
}

ul, li, a, a:hover, a:focus, a:active {
    text-decoration: none;
    list-style: none;
    color: inherit;
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
    height: max-content;
}

.center {
    text-align: center;
}

.header {
    font-weight: 3000;
    margin-top: 20px;
    color: black;
}

.logo {
  max-width: 300px;
  max-height: 200px;
  margin-top: -25px;
}

.p1 {
    margin-top: 10px;
}

.p2 {
    margin-top: 10px;
    color: black;
    font-size: 24px;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}
